.logo{
    max-height: 50px;
    max-width: 50px;
    display: flex;
    float: left;
}

nav
{
    display: flex;
    justify-content: space-around;
    background-color: #696773;
    justify-content: left;
}

nav a
{
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 14px;
    padding-left: 30px;
    padding-right: 30px;
}

nav a:hover
{
    background-color: #363946;
    color: white;
}

body{
    margin: 0 auto;
    background-color: #363946;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    align-items: center;
    text-align: center;
    justify-items: center;
}

.venice{
    max-width: 80%;
    grid-column: 2/3;
    grid-row:1/2;
    margin-top: 10px;
    text-align: center;
    padding-left: 15px;
}

.networking{
    max-width: 100%;
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 20px;
}

.firstp{
    font-size: x-large;
    color: white;
    padding-right: 20px;
}

.secondp{
    font-size: x-large;
    color: white;
    padding-left: 20px;
}

footer
{
    background-color: #696773;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p
{
    font-size: 1.2em;
    color: white;
}

footer a
{
    text-decoration: none;
    color: white;
}

footer p:hover
{
    text-decoration: underline;
}

footer a:hover
{
    text-decoration: underline;
}

.social img
{
    width: 50px;
    padding-top: 15px;
}